/* styles */

h1 {
    background-color: black;
    color: plum;
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
    text-align: center;
}

h2 {
    background-color: plum;
    color: purple;
    font-family: brush script mt;
    font-size: 38px;
    text-align: center;
}

h4 {
    background-color: teal;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: center;
}

img {
    height: 300px;
    width: 650px;
}

div {
    text-align: center;
}